html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}
#app {
  height: 100%;
  margin: 3px 0 0 6px;
}
// 去除一些默认的css样式
a {
  text-decoration: none;
  outline: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}
